<% if @note %>
	<form action="/<%= @note.id %>" method="post" id="edit">
		<!-- The hidden input below allows Sinatra to spoof PUT and DELETE HTTP methods because browsers do not support these. -->
		<input type="hidden" name="_method" value="put">
		<textarea name="content"><%= @note.content %></textarea>
		<input type="checkbox" name="complete" <%= "checked" if @note.complete %>>
		<input type="submit">
	</form>
	<p><a href="/<%= @note.id %>/delete">Delete</a></p>
	<% else %>
	<p>Note not found.</p>
<% end %>